<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Passengers</h1>
    <%= link_to 'New passenger', new_service_passenger_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400 items-center" >
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400" >
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
        <th>Email</th>
        <th>Number of Passengers</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @passengers %>
    </tbody>
  </table>
